body {
    text-align: center;
    background-color:silver;
    margin-top: 100px;
}

#input1 {
    padding-block: 20px;
    border: solid black 1px;
    text-align: center;
    height: 20px;
    width: 170px;
}
#input2 {
    padding-block: 20px;
    border: solid black 1px;
    text-align: center;
    height: 20px;
    width: 170px;
}

.btn {
border-block-color: inherit;
border: solid black 1px;
}